---
layout: page
title: pages.people
permalink: /people/
---

<h2>{% t headings.principal_investigator %}</h2>

{% assign pis = site.data.people | where: "title", "pi"  %}
{% include people.html people = pis %}

<h2>{% t headings.phd_students %}</h2>

{% assign phds = site.data.people | where: "title", "phd"  %}
{% include people.html people = phds %}

<h2>{% t headings.masters_students %}</h2>

{% assign masters = site.data.people | where: "title", "master"  %}
{% include people.html people = masters %}

<h3>{% t headings.devs %}</h3>

{% assign devs = site.data.people | where: "title", "dev" %}
{% include people.html people = devs %}

<h2>{% t headings.interns_ras %}</h2>

{% assign interns = site.data.people | where: "title", "intern"  %}
{% include people.html people = interns %}

<h3>{% t headings.ugrads %}</h3>

{% assign ugrads = site.data.people | where: "title", "ugrad" %}
{% include people.html people = ugrads %}

<h2>{% t headings.alumni_and_their_next_step %}</h2>

<h3>{% t headings.ugrads %}</h3>

{% assign alumni_ugrads = site.data.alumni | where: "title", "ugrad" %}
{% include people_alumni.html people = alumni_ugrads %}
