<section>
    <div class="container collage">
        <div class="row flex-center">
            <div class="pull-left col-md-6">
                <div class="collage-title">
                    <div class="collage-title-text">{% t collage.line1 %}</div>
                    <div class="collage-title-text">{% t collage.line2 %}</div>
                    <div class="collage-title-text">{% t collage.line3 %}</div>
                </div>
                <!-- <div class="rest">handar</div> -->
            </div><!-- /end col-md-4 -->
            <div class="pull-right col-md-6">
                <ul class="team-members">
                    <!-- single member row starts -->
                    <li class="clearfix">
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/sarath-chandar.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/akilesh-badrinaaraayanan.jpg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/ali-rahimi-kalahroudi.jpg">
                            </div>
                        </div>
                        
                    </li>

                    <li class="clearfix">
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/andreas-madsen.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/charan-reddy.png">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/darshan-patil.png">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/doriane-olewicki.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/gabriele-prato.jpg">
                            </div>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/hadi-nekoei.jpg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/louis-clouatre.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/paul-aymeric-mcrae.jpg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/pranshu-malviya.jpeg">
                            </div>
                        </div>       
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/abdelrahman-zayed.jpeg">
                            </div>
                        </div> 
                    </li>

                    <li class="clearfix">
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/simon-guiroy.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/daphne-lafleur.jpeg">
                            </div>
                        </div>   
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/Shabnam_Haghzare.JPG">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/saujas-vaduguru.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/maziar-sargordi.JPG">
                            </div>
                        </div>
                    </li>

                    <li class="clearfix">                      
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/yi-wan.jpeg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/vignesh-rangarajan.jpg">
                            </div>
                        </div>
                        <div class="member-details">
                            <div>
                                <img src="/assets/images/bios/janarthanan-rajendran.jpg">
                            </div>
                        </div>
                    </li><!-- /single member row ends -->

                </ul><!-- /end team-photos -->
            </div><!-- /end col-md-8 -->


        </div><!-- /end row -->
    </div><!-- /end container -->
</section>