<section>
    <div class="container collage">
        <div class="collage-title">
            <div class="collage-title-text">{% t collage.line1 %}</div>
            <div class="collage-title-text">{% t collage.line2 %}</div>
            <div class="collage-title-text">{% t collage.line3 %}</div>
        </div>

        <div class="team-members">
            {% for person in site.data.people %}
            <div class="member-details"
                {% if person.collage_column_start != nil %}
                style="grid-column-start: {{person.collage_column_start}};"
                {% endif %}
            ><img src="/assets/images/bios/{{person.picture}}"></div>
            {% endfor %}
        </div>
    </div>
</section>
