{%- if include.person.link -%}
  {%- assign link = include.person.link -%}
{%- else -%}
  {%- assign link = include.person -%}
{%- endif -%}

{%- if include.person.show -%}
  {%- assign show = include.person.show -%}
{%- else -%}
  {%- assign show = include.person -%}
{%- endif -%}

{% assign person = site.data.people | find: "name", link %}
{%- if person == nil -%}
{% assign person = site.data.alumni | where: "name", link | find: "profile_page", true %}
{%- endif -%}

{%- if person -%}
  {%- if site.lang == "en" -%}
    <a href="{{ site.baseurl_root }}/{{ person.name | datapage_url: 'people' }}">{{ show }}</a>
  {%- elsif site.lang == "fr" -%}
    <a href="{{ site.baseurl_root }}/fr/{{ person.name | datapage_url: 'people' }}">{{ show }}</a>
  {%- endif -%}
{%- else -%}
  {{ show }}
{%- endif -%}
