{% if include.picture != "" and include.picture != nil %}
    <img src="/assets/images/bios/{{include.picture}}">
{% endif %}

{% if include.website != "" and include.website != nil %}
    <h6><a href="{{include.website}}">{{include.name}}</a></h6>
{% else %}
    <h6>{{include.name}}</h6>
{% endif %}

<p>
    {% if include.affiliation != "" and include.affiliation != nil %}
        {{include.affiliation}}<br>
    {% endif %}
    {% if include.cosupervisor != "" and include.cosupervisor != nil %}
        {% t translations.cosupervisor %}: {{include.cosupervisor}}<br>
    {% endif %}
    {% if include.topics != "" and include.topics != nil %}
        {% t translations.research %}: {{ include.topics | map: site.lang | join: ', ' }}
    {% endif %}
</p>
