---
---

$content-width:    1200px;
$on-palm:          800px;
$on-laptop:        1200px;
// @import "solarized-dark";
@import "{{site.theme}}";
ul {
    text-align: justify;
}
p {
    text-align: justify;
}
ul.people{list-style-type:none;padding-left:0; text-align: left;}
ul.people li div.row{position: relative;width: auto}
ul.people li div.info{height:auto;width:auto;display:inline-block;position:absolute;top:10px;margin-left:1em;}
ul.people li div.text{font-size: 15px;}
// @include media-query($on-laptop) {
// }
ul.people li{display:inline-block;margin-right:2em;width:45%}
@include media-query($on-palm) {
    ul.people li{display:inline-block;margin-right:2em;margin-bottom:2em;width:100%}
}
// ul.people li{margin-right:2em;text-align:left;}
ul.people li img{width:100px;height:100px;border-radius:10px;margin:10px auto}

/* collage positions */
.collage {
	margin-top: 70px;
	margin-bottom: 20px;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: "members title";
	place-items: center;
	column-gap: 20px;
}

/*  Team member pictures */
.team-members {
	grid-area: members;

	transform: rotate(15deg) translate(0, 0) scale(0.867);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-flow: row;
	gap: 5px;
	place-items: center;
}

.team-members .member-details {
	overflow: hidden;
	position: relative;
}

.team-members .member-details img {
	transform: rotate(-15deg) translate(0, 0) scale(1.15);
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* title font customization */
.collage-title {
	grid-area: title;
}
.collage-title-text {
	font-size: 110px;
	line-height: 1;
	font-family: monospace;
}
.collage-title-text::first-letter {
	font-size: 120px;
	font-weight: bold;
	color:rgb(22, 180, 185);
}

/* RESPONSIVE */
@media only screen and (max-width : 992px) {
	.collage-title-text::first-letter {
		font-size: 100px;
	}
	.collage-title-text {
		font-size: 90px;
	}
	.collage {
		margin-top: 40px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width : 760px) {
	.collage-title-text::first-letter {
		font-size: 80px;
	}
	.collage-title-text {
		font-size: 70px;
	}
}

@media only screen and (max-width : 570px) {
	.collage {
		margin-top: 0px;
		margin-bottom: 20px;
		grid-template-areas: "title title";
	}
	.team-members {
		display: none;
	}
}
