---
---

$content-width:    1200px;
$on-palm:          800px;
$on-laptop:        1200px;

@import "{{site.theme}}";

/*
 * People page
 */
ul.people {
	list-style-type: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	gap: 20px;
}

ul.people li {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: auto 1fr;
	gap: 0 10px;
	grid-template-areas:
	  "img name"
	  "img description";
}

ul.people li picture {
	grid-area: img;
}

ul.people li picture img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	border-radius: 10px;
}

ul.people li h6 {
	grid-area: name;
	font-size: 16px;
	margin: 0px;
}

ul.people li p {
	grid-area: description;
	font-size: 15px;
	margin: 0;
}


@media only screen and (max-width : 800px) {
	ul.people {
		grid-template-columns: 1fr;
	}
}

/*
 * Font page
 */

/* collage positions */
.collage {
	margin-top: 70px;
	margin-bottom: 20px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "members title";
	place-items: center;
	column-gap: 20px;
}

/*  Team member pictures */
.team-members {
	grid-area: members;

	transform: rotate(15deg) translate(0, 0) scale(0.867);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-flow: row;
	gap: 5px;
	place-items: center;
}

.team-members .member-details {
	overflow: hidden;
	position: relative;
}

.team-members .member-details img {
	transform: rotate(-15deg) translate(0, 0) scale(1.15);
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.collage-title {
	grid-area: title;
}

@media only screen and (max-width : 570px) {
	.collage {
		margin-top: 0px;
		grid-template-areas: "title title";
	}
	.team-members {
		display: none;
	}
}
