---
---

<div id="publications">
<table style="width:100%" cellspacing="0">
  <col width="25%">
  <col width="75%">
<tr>

<div id="{{entry.key}}">

  <td style="border-left: 1px solid #000000; border-bottom: 1px solid #000000;">
  {% if entry.image %}
  <img src="{{entry.image | prepend: site.baseurl | prepend: site.url }}" style="width:100%;">
  {% endif %}
  {% if entry.teaser_video %}
    <video poster="" id="" autoplay controls muted loop width="100%" playbackRate=2.0 style="border-radius: 5px;">
        <source src="{{entry.teaser_video | prepend: site.baseurl | prepend: site.url }}" type="video/mp4">
    </video>
  {% endif %}
  </td>

  <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;>
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="title"><b>{{entry.title}}</b></span>
    <span class="author">
    <br>
      {% for author in entry.author_array %}
      	{% assign fullname = author.first | append: " " | append: author.last %}
        {% unless forloop.last %}
          {% if author.last == site.scholar.last_name %}
            <em>{{fullname}}</em>,
          {% else %}
            {% if site.data.coauthors[fullname] %}
              <a href="{{site.data.coauthors[fullname].url}}" target="_blank">{{fullname}}</a>,
            {% else %}
              {{fullname}},
            {% endif %}
          {% endif %}
        {% else %}
          and
          {% if author.last == site.scholar.last_name %}
            <em>{{fullname}}</em>
          {% else %}
            {% if site.data.coauthors[fullname] %}
              <a href="{{site.data.coauthors[fullname].url}}" target="_blank">{{fullname}}</a>
            {% else %}
              {{fullname}}
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </span>
	<br>
    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% endif %}
    {% if entry.highlight %}
      <b> {{entry.highlight}} </b>
    {% endif %}
    </span>
  {% endif %}
  <span class="links">
  <br>
  {% if entry.arxiv %}
    <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank" class="buttonTT">arXiv</a> |
  {% endif %}
  {% if entry.openreview %}
    <a href="https://openreview.net/forum?id={{ entry.openreview }}" target="_blank" class="buttonTT">OpenReview</a> |
  {% endif %}
  {% if entry.html %}
    [<a href="{{ entry.html }}" target="_blank">HTML</a>]
  {% endif %}
  {% if entry.url %}
    [<a href="{{ entry.url }}" target="_blank">Link</a>]
  {% endif %}
  {% if entry.pdf %}
    <a href="{{ entry.pdf | prepend: '/pdfs/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonTT">PDF</a> |
  {% endif %}
  {% if entry.supp %}
    <a href="{{ entry.supp | prepend: '/pdfs/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonMM">Supplementary</a> |
  {% endif %}
  {% if entry.poster %}
    <a href="{{ entry.poster | prepend: '/pdfs/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonMM">Poster</a> |
  {% endif %}
  {% if entry.slides %}
    <a href="{{ entry.slides | prepend: '/pdfs/' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="buttonMM">Slides</a> |
  {% endif %}
  {% if entry.projectpage %}
    <a href="{{ entry.projectpage }}" target="_blank" class="buttonPP">Project Page</a> |
  {% endif %}
  {% if entry.code %}
    <a href="{{ entry.code }}" target="_blank" class="buttonPP">Code</a> |
  {% endif %}
  {% if entry.video %}
    <a href="{{ entry.video }}" target="_blank" class="buttonSS">Video</a> |
  {% endif %}

  <!-- BibTeX -->
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <div id="abstract">
  <span class="abstract hidden">
  </span>
  </div>
  {% endif %}


  </td>
</div>

</tr>
</table>

</div>
